<div class="recipe row">
  <h1><%= @recipe.name %></h1>
  <div class="image-frame">
    <%= image_tag(@recipe.photo_url, alt: @recipe.name ) if @recipe.photo? %>
  </div>
  <table class="col-xs-12 recipe-table">
    <tr>
      <td class="preference">
          <%= t 'activerecord.attributes.recipe.preference_id' %>: <%= @recipe.preference.name %>
      </td>
      <td class="type">
        <%= t 'activerecord.attributes.recipe.type_id' %>: <%= @recipe.type.name %>
      </td>
      <td class="cuisine">
        <%= t 'activerecord.attributes.recipe.cuisine_id' %>: <%= @recipe.cuisine.name %>
      </td>
    </tr>
  </table>
  <table class="col-xs-12 recipe-table">
    <tr>
      <td>
        <h3><%= t 'activerecord.attributes.recipe.ingredients' %>:</h3> <p class="styled-font"><%= @recipe.ingredients %></p>
      </td>
      <td>
        <h3><%= t 'activerecord.attributes.recipe.directions' %>:</h3> <p class="styled-font"><%= @recipe.directions %></p>
      </td>
    </tr>
  </table>
  <table class="col-xs-12 recipe-table">
    <tr>
      <td>
        <%= t 'activerecord.attributes.recipe.difficulty' %>: <%= @recipe.difficulty %>
      </td>
      <td>
        <%= t 'activerecord.attributes.recipe.ready_in' %>: <%= @recipe.ready_in %> <%= t :minutes %>
      </td>
      <td>
        <%= t 'activerecord.attributes.recipe.servings' %>: <%= @recipe.servings %> <%= t :plates %>
      </td>
    </tr>
  </table>
</div>
