<div class="hidden-xs col-sm-3 sidebar-offcanvas" id="sidebar">
  <h3> <%= t "categories.cuisines" %> </h3>
  <div class="list-group">
    <%= render @cuisines %>
  </div>
  <h3> <%= t "categories.types" %> </h3>
  <div class="list-group">
    <%= render @types %>
  </div>
  <h3> <%= t "categories.preferences" %> </h3>
  <div class="list-group">
    <%= render @preferences %>
  </div>
</div><!--/.sidebar-offcanvas-->
