<!DOCTYPE html>
<html>
<head>
  <title><%= t :site_name %></title>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Schoolbell&v1', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"
              class="<%= 'active' if current_page? root_path %>">
            <%= link_to t(:home), root_path %>
          </li>
          <li role="presentation"
              class="<%= 'active' if current_page? about_path %>">
            <%= link_to t(:about), about_path %>
          </li>
          <li role="presentation"
              class="<%= 'active' if current_page? new_user_registration_path %>">
            <%= (link_to t(:sign_up), new_user_registration_path) unless current_user %>
          </li>
          <li role="presentation"
              class="<%= 'active' if current_page? new_user_session_path %>">
            <%= (link_to t(:log_in), new_user_session_path) unless current_user %>
          </li>
          <li role="presentation">
            <%= (link_to t(:log_out), destroy_user_session_path, method: "delete") if current_user %>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted"> <%= t :site_name %></h3>
    </div>
    <div class="row">
      <%= content_tag :div, notice, class: "alert alert-success" if notice %>
      <%= content_tag :div, alert, class: "alert alert-warning" if alert %>

          <%= yield %>

    </div>
    <footer class="footer">
      <p> <%= t :footer %> </p>
    </footer>
  </div> <!-- /container -->
</body>
</html>
